html {width:720px;margin:0 auto;padding:0;}
a:hover{text-decoration: none;}
.hero-unit {padding:30px;}
.shuffle {height:200px;font-size:200px;line-height:200px;text-align: center;color:#ff0000;}

.suits-spades {background: url(resource/poker_card_suits.png) 30px 0 no-repeat;}
.suits-hearts {background: url(resource/poker_card_suits.png) -190px 0 no-repeat;}
.suits-clubs {background: url(resource/poker_card_suits.png) -190px -190px no-repeat;}
.suits-diamonds {background: url(resource/poker_card_suits.png) 30px -190px no-repeat;}

.brand-girl {background: url(resource/girl.jpg) 0 0 no-repeat;}
.brand-gl {background: url(resource/gl.jpg) 0 0 no-repeat;}
.brand-iloveu {background: url(resource/iloveu.jpg) 0 0 no-repeat;}
.brand-thx {background: url(resource/thx.jpg) 0 0 no-repeat;}

.thumbnail {    
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}